<div class="bg-green-800 text-green-100 py-1 shadow-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="h-8" src="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link text-orange-100" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-orange-100" href="#">Messages</a>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img class="avatar h-6 w-6 rounded-full" alt="dropdown menu" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a data-turbo-method="delete" class="dropdown-item" href="/users/sign_out">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
