<div id="messages" class="messages">
  <% @room.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>
<%= simple_form_for [@room, @message],
  html: {class: "d-flex"} do |f|
%>

  <%= f.input :content,
    label: false,
    placeholder: "Message the community",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
